[Desktop Entry]
Name={{ name }}
Exec={{ desktop_files_dir }}/{{ name }}.appimage
Terminal=false
Type=Application
Icon={{ desktop_files_dir }}/{{ name }}.{{ image_format }}
Comment={{ name }}
Categories=Utility;
Keywords={{ name }};